.aboutContent {
    display: block;
}

.studyObject {
    display: block;
    /* background-color: var(--projectColour); */
}

.studyObject:nth-child(n+4) {
    margin-top: .5rem;
}

/* .studyObject:nth-last-child(n) {
    margin-top: .5rem;
} */

.studyTitle {
    text-align: center;
    font-size: larger;
}

.aboutSchool {
    display: inline-block;
    /* width: 100%; */
    padding-top: 1rem;
    flex-flow: row;
}

.schoolStory {
    text-align: justify;
    text-indent: 2em;
    /* float: left; */
    /* flex: 3; */
    /* max-width: 66%; */
}

.schoolDiploma {
    margin: 2rem 0 0 2rem;
    max-width: 15vw;
    float: right;
    /* flex: 2; */
}

.schoolDiploma img {
    max-width: 100%;
}

.studyGrade {
    text-align: right;
    color: lightgrey;
    font-size: 14px;
}

@media screen and (max-width: 1306px) {
    .aboutSchool {
        flex-flow: column;
    }

    .schoolStory {
        padding-bottom: 1rem;
    }

    .schoolDiploma {
        margin-left: 0;
        max-width: 100%;
    }
}