:root {
    --linkColour: rgb(76, 79, 92);
    --linkHoverColour: rgb(51, 53, 63);
    --navLinkColour: whitesmoke;
    --backgroundColour: rgb(40, 42, 54);
    --containerColour: rgb(68, 71, 90);
}

body {
    color: whitesmoke;
}

body {
    background-color: var(--backgroundColour);
}

a,
a:visited {
    color: lightblue;
    font-weight: bold;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    padding: 1em;
    margin: 0 auto;
    background-color: var(--containerColour);
}

.title {
    text-align: center;
    text-decoration: underline;
}

.pageContainer {
    margin: 0 auto;
    max-width: 80%;
}