:root {
	--linkColour: rgb(0, 49, 114);
	--linkHoverColour: rgba(10, 0, 151, .7);
	--navLinkColour: whitesmoke;
	/* --backgroundColour: rgb(40, 42, 54); */
	--backgroundColour: rgba(0, 0, 0, 1);
	/* linear-gradient(0deg, rgb(5, 0, 73) 0%, rgb(9, 0, 137) 50%, rgb(0, 88, 204) 100%); */
	--containerColour: rgba(32, 41, 99, 0.5);
	--aColour: rgb(152, 209, 228);
	--borderColour: rgb(255, 255, 255);
    --projectColour: rgb(1, 63, 158);
    --headerHeight: 10vh;
    --footerHeight: 0vh;

    /* Calculate the minimum height of the container so that it is flush with the bottom of the screen */
    --containerHeight: calc(100vh - var(--headerHeight) - var(--footerHeight) - 1.5vh);
}

body {
	color: whitesmoke;
}

body {
	/* background: rgba(2, 0, 36, 0.5); */
	background: var(--backgroundColour);
}

a {
	color: var(--aColour);
	font-weight: bold;
}

.container {
	/* min-height: 83.5vh; */
	min-height: var(--containerHeight);
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	padding: 0 1em;
	margin: 1em auto;
	border-radius: 5px;
	background-color: var(--containerColour);
	box-shadow: 0 0 10px 20px var(--containerColour);
}

.title {
	text-align: center;
	text-decoration: underline;
	margin-top: 0;
}

.pageContainer {
	margin: 0 auto;
	max-width: 80%;
}

@media screen and (max-width: 1306px) {
	.container {
		width: 80vw;
	}
}
