#header {
    background-color: grey;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.navLink {
    height: 100%;
    font-size: large;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    transition-duration: 500ms;
    background-color: white;
    min-width: 10vw;
}

.navLink:not(:first-child) {
    border-left: 1px solid black;
}

.navLink:hover {
    background-color: lightgrey;
}