#header {
    background-color: var(--backgroundColour);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.navLink {
    display: grid;
    align-content: center;
    font-size: large;
    text-align: center;
    text-decoration: none;
    /* padding: 1.5vh 0; */
    transition-duration: 500ms;
    /* background-color: var(--linkColour); */
    min-width: 8vw;
    user-select: none;
    color: var(--navLinkColour);
}

.Logo {
    padding: 1vh;
    min-width: 5vw;
    text-align: center;
}

.Logo img {
    height: 5em;
}

.navLink:not(:first-child) {
    /* border-left: 1px solid black; */
}

.navLink:hover {
    background-color: var(--linkHoverColour);
    /* text-decoration: underline; */
}

.navLink:visited {
    color: var(--navLinkColour);
}