.sectionTitle {
    text-align: center;
}

.projectsContainer {
    margin: 0 auto;
    max-width: 80%;
}

.projectDetails {
    display: flex;
}

.projectDescription {
    padding: 0 1em;
    margin-top: 0;
}

.projectText {
    width: 60%;
}

.projectLanguages {
    font-size: small;
}

.projectLogo {
    width: 40%;
    height: fit-content;
    margin: 0 auto;
}